.c-index-item{
  &__title{
    @include text-heading--index;
    a{
      @include link--black-on-light;
      @media (prefers-color-scheme: dark) {
        @include link--white-on-dark;
      }
    }
  }
  &__metadata{
    display:flex;
    gap: .5em;
    flex-direction: column;
    @include text-blocky;
    padding-top: $gap--shallow;
    padding-bottom: $gap--shallow;
    @include break(mobile){
      flex-direction: row;
      align-items: unset;
      flex-wrap: wrap;
    }
    &__divider{
      display: none;
      @include break(mobile){
          display: block;
      }
    }
  }
  &__excerpt{
    @include text-std;
  }
}