.c-index-item{
  padding-bottom: $gap;
  &__metadata{
    display:flex;
    gap: .5em;
    flex-direction: column;
    @include text-blocky;
    padding-top: $gap--shallow;
    padding-bottom: $gap--shallow;
    @include break(mobile){
      flex-direction: row;
      align-items: unset;
      flex-wrap: wrap;
    }
    &__divider{
      display: none;
      @include break(mobile){
          display: block;
      }
    }
  }
  &__excerpt{
    @include text-std;
  }
}