// Button state
// ------------------------------------------------------------

@mixin button{
  @include font-sans-bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: .02em;
  position: relative;
  display: block;
  width: auto;
  padding: 1em 1.2em;
  border-radius: 2px!important;
  text-align: center;
  cursor: pointer;
  @include transition();
  color: $black;
  background-color: $color-accent;
  &:hover {
    background-color: $color-accent--darker-5;
    color: $black;
    outline: none;
  }
  &:active{
    background-color: $color-accent--darker-5!important;
    color: $white;
    @include outline;
  }
  &:focus{
    background-color: $color-accent--darker-5!important;
    color: $white;
    @include outline;
  }
  @media (prefers-color-scheme: dark) {
    color: $black;
    background-color: $color-accent;
    &:hover {
      background-color: $color-accent--darker-5;
      color: $black;
      outline: none;
    }
    &:active{
      background-color: $color-accent--darker-5!important;
      color: $black;
      @include outline;
    }
    &:focus{
      background-color: $color-accent--darker-5!important;
      color: $black;
      @include outline;
    }
  }
}

.wp-block-button a{
  @include button;
  margin-bottom: 0;
}