// Breakpoints
// ------------------------------------------------------------

$breakpoints: (
    mobile: 22.438em, // 359px
    mobile-land: 32em, // 512px
    tablet: 40.063em, // 641px
    desktop: 50em, // 800px
    desktop-mini: 55em, // 880px
    desktop-med: 64.063em, // 1025px
    mobile-nav: 68.125em, // 1090px
    desktop-wide: 75em, // 1200px
    desktop-wider: 83.75em, // 1340px
    desktop-xl: 88em, // 1408px
    site-width:$site-width-narrow,
    site-width-margins:$site-width-narrow-margins,
    site-width-wide-margins:$site-width-wide-margins,
    site-width-margins-plus: calc($site-width-narrow-margins + 60px)
);
$breakpoints--h: (
    letterbox: 900px
);

// Breakpoint mixins
// ------------------------------------------------------------

@mixin break($breakpoint: medium) {
  @if map-has-key($breakpoints, $breakpoint) {
      @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
          @content;
      }
  }
}
@mixin break-under($breakpoint: medium) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
  }
}
@mixin break-between($breakpoint-lower, $breakpoint-higher){
  @media screen and (min-width: map-get($breakpoints, $breakpoint-lower)) and (max-width: map-get($breakpoints, $breakpoint-higher)) {
    @content;
  }
}

// height 
@mixin break--h($breakpoint) {
  @if map-has-key($breakpoints--h, $breakpoint) {
      @media screen and (max-height: map-get($breakpoints--h, $breakpoint)) and (orientation: landscape) {
          @content;
      }
  }
}