// Custom colors
// ------------------------------------------------------------
$color-brand: #00b682;

// accents
// ------------------------------------------------------------
$color-accent: #FF6978;
$color-accent--lighter: color.adjust($color-accent, $lightness: 5%);
$color-accent--darker-5: color.adjust($color-accent, $lightness: -5%);
$color-accent--darker: color.adjust($color-accent, $lightness: -10%);

// Background colors
// ------------------------------------------------------------
$color-bg-1: $white;
$color-bg-2: #f9f9f9;

// Dark
$color-bg-1--dark: #000;
$color-bg-2--dark: #151515;

// Text colors
// ------------------------------------------------------------
$color-text: $off-black;

// Dark
$color-text--dark: $white;

// Focus and highlight colors
// ------------------------------------------------------------

$color-highlight--dark: $color-accent--lighter;
$color-highlight--light: $color-accent;

$color-outline--dark: $color-accent--lighter;
$color-outline--light: $color-accent;


// Link colour profiles
// ------------------------------------------------------------

@mixin linkDefaults{
    outline: none;
    transition: all 100ms ease-out;
    text-decoration:underline;
}

// White on dark
@mixin link--white-on-dark{
    @include linkDefaults;
    color:$white;
    &:visited{
        color: $off-white;
    }
    &:focus{
        background-color: $color-accent;
        color: $black;
        text-decoration:none;
        outline: none;
    }
    &:hover{
        text-decoration: none;
    }
    &:active{
        background-color: $color-accent;
        color: $black;
        text-decoration:none;
        outline: none;
    }
}

// Black on light
@mixin link--black-on-light{
    @include linkDefaults;
    color:$black;
    &:visited{
        color: $off-black;
    }
    &:focus{
        background-color: $color-accent;
        color: $black;
        text-decoration:none;
        outline: none;
    }
    &:hover{
        text-decoration: none;
    }
    &:active{
        background-color: $color-accent;
        color: $black;
        text-decoration:none;
        outline: none;
    }
}

// color on light
@mixin link--color-on-light{
    @include linkDefaults;
    color:$color-accent--darker;
    &:visited{
        color: $color-accent;
    }
    &:focus{
        background-color: $color-accent--darker;
        color: $white;
        text-decoration:none;
        outline: none;
    }
    &:hover{
        color: $color-accent--darker;
        text-decoration: none;
    }
    &:active{
        background-color: $color-accent--lighter;
        color: $black;
        text-decoration:none;
        outline: none;
    }
}

// color on dark
@mixin link--color-on-dark{
    @include linkDefaults;
    color:$color-accent;
    &:visited{
        color: $color-accent--lighter;
    }
    &:focus{
        background-color: $color-accent--lighter;
        color: $black;
        text-decoration:none;
        outline: none;
    }
    &:hover{
        color: $color-accent--darker;
        text-decoration: none;
    }
    &:active{
        background-color: $color-accent--lighter;
        color: $black;
        text-decoration:none;
        outline: none;
    }
}

// line color
// ------------------------------------------------------------
$color-line: #F2F2F2;
$color-line-solid: #707070;

// Dark
$color-line--dark: #d8d8d8;
$color-line-solid--dark: #707070;

// standard border
// ------------------------------------------------------------
$borderline: 1px solid $color-line;
$borderline-solid: 1px solid $color-line-solid;
$borderline-thick: 2px solid $color-line-solid;

// Dark
$borderline--dark: 2px solid $color-line--dark;
$borderline-solid--dark: 1px solid $color-line-solid--dark;
$borderline-thick--dark: 2px solid $color-line-solid--dark;