// Custom colors
// ------------------------------------------------------------
$color-brand: #00b682;

// accents
// ------------------------------------------------------------
$color-accent: #FF6978;
$color-accent--light: color.adjust($color-accent, $lightness: 10%);

// Background colors
// ------------------------------------------------------------
$color-bg-1: $white;
$color-bg-2: #f9f9f9;

// Dark
$color-bg-1--dark: #000;
$color-bg-2--dark: #151515;

// Text colors
// ------------------------------------------------------------
$color-text: $off-black;
$color-text-link: $color-accent;

// Dark
$color-text--dark: $white;
$color-text-link--dark: $color-accent;

// line color
// ------------------------------------------------------------
$color-line: #F2F2F2;
$color-line-solid: #707070;

// Dark
$color-line--dark: #d8d8d8;
$color-line-solid--dark: #707070;

// standard border
// ------------------------------------------------------------
$borderline: 1px solid $color-line;
$borderline-solid: 1px solid $color-line-solid;
$borderline-thick: 2px solid $color-line-solid;

// Dark
$borderline--dark: 2px solid $color-line--dark;
$borderline-solid--dark: 1px solid $color-line-solid--dark;
$borderline-thick--dark: 2px solid $color-line-solid--dark;