// imports
// ------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,500;0,700;1,500;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap');

// Font mixins
// ------------------------------------------------------------

@mixin font-serif{
    font-family: 'Cormorant', serif;
    font-weight: 500;
}
@mixin font-serif-italic{
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-style: italic;
}
@mixin font-serif-bold{
    font-family: 'Cormorant', serif;
    font-weight: 700;
}
@mixin font-serif-bold-italic{
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-style: italic;
}

@mixin font-sans{
    font-family: 'IBM Plex Sans', serif;
    font-weight: 400;
}
@mixin font-sans-italic{
    font-family: 'IBM Plex Sans', serif;
    font-weight: 400;
    font-style: italic;
}
@mixin font-sans-bold{
    font-family: 'IBM Plex Sans', serif;
    font-weight: 600;
}

// Text variables
// ------------------------------------------------------------

$font-size-std: 10px;
$font-size-small: 1.4rem;
$font-size-standard: 1.6rem;
$font-size-body: 2rem;

// Text mixins for specific uses
// ------------------------------------------------------------

// Standard, default text
// If in doubt, use this.
@mixin text-std {
    @include font-sans;
    font-size: $font-size-standard;
    line-height: 1.5;
}

// For body text that sits within constrained blocks such as cards.
// Smaller than normal text
@mixin text-block {
    @include font-sans;
    font-size: $font-size-small;
    line-height: 1.5;
}

// For article body.
// Slightly bigger than standard for easy comfortable reading
@mixin text-body {
    @include font-sans;
    line-height: 1.6;
    font-size: clamp(1.6rem, 2vw, 2.1rem);
}

// For things like metadata, captions taglines and section heads
// typically small font-size, small-caps and generous letter-spacing
@mixin text-blocky($case:initial) {
    @include font-sans-bold;
    font-size: 1.5rem;
    text-transform: $case;
    letter-spacing: .02em;
}

// Default top-level heading
@mixin text-heading--upper {
    @include font-sans-bold;
    font-size: clamp(3rem, 4.5vw, 6rem);
    line-height: 1.2;
}

// For headings within body
// Typically single article h2's or pillar page section headings
@mixin text-heading {
    @include font-sans-bold;
    font-size: clamp(2.2rem, 2.5vw, 3.5rem);
    line-height: 1.2;
}

// For article headings within body - lower level
// We don't make any visual differentiation between h3's and h4's
@mixin text-heading--lower {
    @include font-sans-bold;
    font-size: clamp(2rem, 2.5vw, 3.2rem);
    line-height: 1.2;
}

// For top level page headings
// Typically single article h1 headings, or hierarchical pages, like pillar pages
@mixin text-heading-single {
    @include font-sans-bold;
    font-size: clamp(3rem, 4.5vw, 8rem);
    line-height: 1.2;
}

// Post index headings
// Slightly bigger than text-heading
@mixin text-heading--index {
    @include font-sans-bold;
    font-size: clamp(2.5rem, 3vw, 5rem);
    line-height: 1.2;
}


// Some defaults
// ------------------------------------------------------------

@mixin paragraphdefaults {
    color: inherit;
    line-height: 1.8;
    @include text-body;
    margin-bottom:$gap;
}

@mixin ullistdefaults {
    padding: 0;
    @include text-body;
    list-style-position: inside;
    margin-bottom:$gap;
    li {
        position: relative;
        display: block;
        padding-left: 1.2em;
        list-style: none;
        line-height: 1.4;
        &::before {
            position: absolute;
            top: 0.5em;
            left: 0;
            width: 6px;
            height: 6px;
            background-color: $color-accent;
            content: '';
        }
    }
}
@mixin ollistdefaults {
    padding: 0;
    @include text-body;
    list-style: none;
    counter-reset: li;
    list-style-position: inside;
    margin-bottom:$gap;
    li {
        counter-increment: item;
        position: relative;
        display: block;
        padding-left: 1.5em;
        list-style: none;
        line-height: 1.4;
        &::before {
        position: absolute;
        left: 0;
        content: counter(item) '. ';
        }
    }
}
