// imports
// ------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,500;0,700;1,500;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap');

// Font mixins
// ------------------------------------------------------------

@mixin font-serif{
    font-family: 'Cormorant', serif;
    font-weight: 500;
}
@mixin font-serif-italic{
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-style: italic;
}
@mixin font-serif-bold{
    font-family: 'Cormorant', serif;
    font-weight: 700;
}
@mixin font-serif-bold-italic{
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-style: italic;
}

@mixin font-sans{
    font-family: 'IBM Plex Sans', serif;
    font-weight: 400;
}
@mixin font-sans-italic{
    font-family: 'IBM Plex Sans', serif;
    font-weight: 400;
    font-style: italic;
}
@mixin font-sans-bold{
    font-family: 'IBM Plex Sans', serif;
    font-weight: 600;
}

// Text variables
// ------------------------------------------------------------

$font-size-base:10px;
$font-size-standard:1.6rem;

// Text mixins for specific uses
// ------------------------------------------------------------

// For article body.
// Slightly bigger for easy comfortable reading
@mixin text-body {
    @include font-sans;
    font-size: $font-size-standard;
}

// For body text that sits within constrained blocks such as cards.
// Smaller than body text
@mixin text-block {
    @include font-sans;
    font-size: $font-size-standard;
    line-height: 2.8rem;
}

// For things like metadata, captions taglines and section heads
// typically small font-size, uppercase and generous letter-spacing
@mixin text-blocky {
    font-family: 'IBM Plex Sans', serif;
    font-size: 1.4rem;
}

// Default top-level heading
@mixin text-heading--upper {
    @include font-sans-bold;
    font-size: clamp(4rem, 4vw, 6rem);
    line-height: 1;
}
@mixin text-heading {
    @include font-sans-bold;
    font-size: clamp(4rem, 4vw, 6rem);
    line-height: 1;
}
@mixin text-heading--lower {
    @include font-sans-bold;
    font-size: clamp(4rem, 4vw, 6rem);
    line-height: 1;
}

// For top level page headings
// Typically single article h1 headings, or hierarchical pages, like pillar pages
@mixin text-heading-single {
    @include font-sans-bold;
    font-size: clamp(3rem, 6vw, 6rem);
    line-height: 1;
}

// For article headings within body
// Typically single article h2's or pillar page section headings
@mixin text-heading-body {
    @include font-sans-bold;
    font-size: clamp(4rem, 4vw, 6rem);
    line-height: 1;
}

// For article headings within body - lower level
// We don't make any visual differentiation between h3's and h4's
@mixin text-heading-body--lower {
    @include font-sans-bold;
    font-size: clamp(4rem, 4vw, 6rem);
    line-height: 1;
}

// Some defaults
// ------------------------------------------------------------

@mixin paragraphdefaults {
    color: inherit;
    line-height: 1.8;
    @include text-body;
    @include gap(margin-bottom);
}

@mixin ullistdefaults {
    padding: 0;
    @include text-body;
    list-style-position: inside;
    @include gap(margin-bottom);
    li {
        position: relative;
        display: block;
        padding-left: 1.2em;
        list-style: none;
        line-height: 1.4;
        &::before {
            position: absolute;
            top: 0.5em;
            left: 0;
            width: 6px;
            height: 6px;
            background-color: $color-accent;
            content: '';
        }
    }
}
@mixin ollistdefaults {
    padding: 0;
    @include text-body;
    list-style: none;
    counter-reset: li;
    list-style-position: inside;
    @include gap(margin-bottom);
    li {
        counter-increment: item;
        position: relative;
        display: block;
        padding-left: 1.5em;
        list-style: none;
        line-height: 1.4;
        &::before {
        position: absolute;
        left: 0;
        content: counter(item) '. ';
        }
    }
}
