// imports
// ------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500&family=Cormorant+Garamond:ital,wght@0,700;1,700&family=IBM+Plex+Sans:wght@300;400;600&display=swap');

// Typography variables
// ------------------------------------------------------------

$font-serif: 'Cormorant', serif;
$font-serif-italic: 'Cormorant', serif;
$font-sans-serif: 'IBM Plex Sans', sans-serif;
$font-sans-serif-bold: 'IBM Plex Sans', sans-serif;
$font-sans-serif-italic: 'IBM Plex Sans', sans-serif;
$font-serif-bold: 'Alegreya SC', serif;
$font-blocky: 'Alegreya SC', serif;
$font-numbers: 'IBM Plex Sans', sans-serif;
$font-exp: 'Cormorant Garamond';
$font-size-standard: 1.6rem;

// Text mixins
// ------------------------------------------------------------

@mixin text-serif-bold{
    font-family: $font-serif-bold;
    font-weight: 600;
}
@mixin text-sans-serif-bold{
    font-family: $font-sans-serif-bold;
    font-weight: 600;
}
@mixin text-serif-bold-italic{
    font-family: $font-serif;
    font-style: italic;
    font-weight: 700;
}

// Text mixins for specific uses
// ------------------------------------------------------------

// For article body.
// Slightly bigger for easy comfortable reading
@mixin text-body{
    font-family: $font-sans-serif;
    font-size: $font-size-standard;
}

// For body text that sits within constrained blocks such as cards.
// Smaller than body text
@mixin text-block{
    font-family: $font-sans-serif;
    font-size: $font-size-standard;
    line-height: 2.8rem;
}

// For things like metadata, captions taglines and section heads
// typically small font-size, uppercase and generous letter-spacing
@mixin text-blocky{
    font-family: $font-numbers;
    font-size:14px;
    @include break(tablet){
        font-size: 1.4rem;
    }
}

// For top level page headings
// Typically single article h1 headings, or hierarchical pages, like pillar pages
@mixin text-heading-single{
    font-family: $font-exp;
    font-size: clamp(3rem, 6vw, 6rem);
    line-height: 1;
}

// For article headings within body
// Typically single article h2's or pillar page section headings
@mixin text-heading-body{
    font-family: $font-exp;
    font-size: clamp(4rem, 4vw, 6rem);
    line-height: 1;
}

// For article headings within body - lower level
// We don't make any visual differentiation between h3's and h4's
@mixin text-heading-body--lower{
    font-family: $font-exp;
    font-size: clamp(4rem, 4vw, 6rem);
    line-height: 1;
}

// Some defaults
// ------------------------------------------------------------

@mixin paragraphdefaults{
    color: inherit;
    line-height: 1.8;
    @include text-body;
    @include gap(margin-bottom);
}
@mixin ullistdefaults{
    padding: 0;
    @include text-body;
    list-style-position: inside;
    @include gap(margin-bottom);
    li{
        position: relative;
        display: block;
        padding-left: 1.2em;
        list-style: none;
        line-height: 1.4;
        &:before {
            position: absolute;
            top: 0.5em;
            left: 0;
            width: 6px;
            height: 6px;
            background-color: $color-accent;
            content: '';
        }
    }
}
@mixin ollistdefaults{
    padding: 0;
    @include text-body;
    list-style: none;
    counter-reset: li;
    list-style-position: inside;
    @include gap(margin-bottom);
    li{
        counter-increment: item;
        position: relative;
        display: block;
        padding-left: 1.5em;
        list-style: none;
        line-height: 1.4;
        &:before {
        position: absolute;
        left: 0;
        content: counter(item) '. ';
        }
    }
}