// Padding utilities
// ------------------------------------------------------------

.padding {
  padding-top:$padding-deep;
  padding-bottom: $padding-deep;
}
.padding--shallow {
  padding-top:$padding-std;
  padding-bottom: $padding-std;
}
.nopadding--top {
  padding-top:0!important;
}
.nopadding--bottom {
  padding-bottom: 0!important;
}
.nopadding--left {
  padding-left:0!important;
}
.nopadding--right {
  padding-right: 0!important;
}
.nopadding--x {
  padding-left:0!important;
  padding-right: 0!important;
}
.nopadding--y {
  padding-top:0!important;
  padding-bottom: 0!important;
}

// Margin utilities
// ------------------------------------------------------------

.margin {
  margin-top:$padding-deep;
  margin-bottom: $padding-deep;
}
.margin--shallow {
  margin-top:$padding-std;
  margin-bottom: $padding-std;
}
.nomargin--top {
  margin-top:0!important;
}
.nomargin--bottom {
  margin-bottom: 0!important;
}
.nomargin--left {
  margin-left:0!important;
}
.nomargin--right {
  margin-right: 0!important;
}
.nomargin--x {
  margin-left:0!important;
  margin-right: 0!important;
}
.nomargin--y {
  margin-top:0!important;
  margin-bottom: 0!important;
}


// Backgrounds
// ------------------------------------------------------------

.background--white{
  background-color:$white;
}

// Hide for screen readers
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// Misc
// ------------------------------------------------------------

@mixin invisible-link{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  &:focus{
    background-color: unset;
    @include outline;
  }
}
