.o-header{
  @include gap(padding-top,2);
  &__container{
    @include flex-center;
    width: 100%;
    position: relative;
  }
  &__title{
    width: 100%;
  }
  &__site-name{
    @include text-site-name;
    color: $white;
    margin-right: 2rem;
    display: block;
  }
  &__link{
    display: block;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  &__logo{
    display: flex;
    align-items: center;
    flex-grow: 1;
    &__logo{
      display: block;
      color: $color-bitcoin;
    }
  }
  &__site-tagline{
    width: 100%;
    display: flex;
    gap:1em;
    align-items: center;
    white-space: nowrap;
    &:after{
      height: 1px;
      background-color: $color-accent;
      content: '';
      width: 100%;
    }
  }
}