.o-logo-lockup{
  display: flex;
  align-items: center;
  &__logo{
    transition: 0.1s;
    position: relative;
    display: block;
    align-items: center;
    color: $color-brand;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    @media (prefers-color-scheme: dark) {
      color: $white;
    }
    img, svg{
      max-height:40px;
      width:auto;
    }
  }
  &__site-name{
    @include font-sans-bold;
    font-size:2.4rem;
    text-transform: uppercase;
    padding-left: .5em;
    color: $color-brand;
  }
  &__link{
    display: block;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}