.o-logo-lockup{
  display: flex;
  align-items: center;
  position: relative;
  color: $color-brand;
  @media (prefers-color-scheme: dark) {
    color: $white;
  }
  &__logo{
    transition: 0.1s;
    position: relative;
    display: block;
    align-items: center;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    img, svg{
      max-height:40px;
      width:auto;
    }
  }
  &__site-name{
    @include font-sans-bold;
    font-size:2.4rem;
    text-transform: uppercase;
    padding-left: .5em;
    display: block;
  }
  a{
    @include invisible-link;
  }
}