$edgepadding: 3rem;
$edgepadding-mobile: 1rem;
$edgepadding-mobile--loose: 3rem;

@mixin padding-loose{
  padding-left: $edgepadding-mobile--loose;
  padding-right: $edgepadding-mobile--loose;
  @include break(site-width){
    padding-left: $edgepadding;
    padding-right: $edgepadding;
  }
}

@mixin padding-tight{
  padding-left: $edgepadding-mobile;
  padding-right: $edgepadding-mobile;
  @include break(site-width){
    padding-left: $edgepadding;
    padding-right: $edgepadding;
  }
}

.o-row{
  width: 100%;
  margin-top: $gap;
  margin-bottom: $gap;
  @include padding-loose;
}

.o-row-container{
  @mixin defaults{
    max-width: $site-width-narrow;
    margin-left: auto;
    margin-right: auto;
  }
  @include defaults;
  &--wide{
    @include defaults;
    max-width: $site-width-wide;
  }
}
